.App {
  overflow: hidden;
  /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */
  background: radial-gradient(circle at bottom, #fff, transparent 80%), -webkit-gradient(linear, left bottom, left top, from(#ffecda), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, rgba(255, 255, 255, 0.4))), #f9f8f5;
  background: radial-gradient(circle at bottom, #fff, transparent 80%), linear-gradient(to top, #ffecda 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 70%), #f9f8f5;
  -webkit-animation: bg 10s infinite;
          animation: bg 10s infinite;
}

@-webkit-keyframes bg {
  0%,
  100% {
    background-color: #f9f8f5;
  }
  25% {
    background-color: #fff;
  }
  50% {
    background-color: #f2efe8;
  }
  75% {
    background-color: #fff;
  }
}

@keyframes bg {
  0%,
  100% {
    background-color: #f9f8f5;
  }
  25% {
    background-color: #fff;
  }
  50% {
    background-color: #f2efe8;
  }
  75% {
    background-color: #fff;
  }
}

* {
  font: 100% Satoshi, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.navbar {
  padding: 32px 0;
}

.navbar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar_wrapper .logo {
  font-size: 24px;
}

.navbar_wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.herosection {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.herosection .hero_wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 32px;
}

.herosection .hero_wrapper .intro {
  font-size: 72px;
  font-weight: 900;
}

.herosection .hero_wrapper .bref {
  max-width: 690px;
}

.herosection .hero_wrapper .connect_wrappper .connect_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.herosection .hero_wrapper .connect_wrappper .connect_button_wrapper .connect {
  padding: 0px 16px 0px 30px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #ababab;
  background: none;
  border-radius: 78px 0px 0px 78px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.herosection .hero_wrapper .connect_wrappper .connect_button_wrapper .connect:focus-visible {
  padding: 0px 16px 0px 30px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #d30101;
  border-radius: 78px 0px 0px 78px;
}

.herosection .hero_wrapper .connect_wrappper .connect_button_wrapper .connect_btn {
  background: #070707;
  border-radius: 0px 78px 78px 0px;
  padding: 10px 38px;
  color: white;
  font-size: 16px;
  border-style: solid;
  border-color: #000000;
}

.herosection .hero_wrapper .connect_wrappper .connect_copy {
  font-size: 14px;
  font-weight: 500;
  color: #353535;
  margin-top: 16px;
}

.showmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: 213;
}

.showmore:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  /* 
      Animation */
}

.website_card {
  width: 1200px;
  height: 476px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
  overflow: hidden;
  border-radius: 8px;
}

.website_card:hover .arrow {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.website_card:hover .thumbnail_image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.website_card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website_card .details .upper_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.website_card .details .details_wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.website_card .details .details_wrapper .project_name {
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
}

.website_card .details .details_wrapper .type {
  font-size: 14px;
  padding: 0px 12px;
  background: white;
  color: #2d0b00;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 28px;
  border-radius: 2px;
}

.website_card .details .details_wrapper .project_details {
  font-weight: 400;
  width: 358px;
  font-size: 18px;
  line-height: 28px;
}

.website_card .details .details_wrapper .readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: auto 0;
  font-weight: 500;
}

.website_card .thumbnail {
  overflow: hidden;
  background-color: #fff4ec;
}

.website_card .thumbnail img {
  width: 100%;
}

.work {
  margin: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .work_wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.work .Logo_project {
  width: 592px;
  height: 506.39px;
  border-radius: 8px;
  display: -ms-grid;
  display: grid;
}

.Logo_project .mockup_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  width: inherit;
  height: inherit;
  position: absolute;
}

.Logo_project .mockup_wrapper .shadow {
  margin-left: 239px;
  position: absolute;
  margin-top: 440px;
}

.Logo_project .mockup_wrapper .image_size {
  margin-left: 150px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  margin-top: 150px;
}

.Logo_project:hover .arrow {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.Logo_project:hover .image_size {
  width: 80%;
  margin: 30px;
  margin-top: 100px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.Logo_project:hover .shadow {
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  margin-left: 100px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.logo_card {
  width: 100%;
  height: 100%;
}

.logo_card .details {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_card .details .upper_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_card .details .details_wrapper {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_card .details .details_wrapper .project_name {
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
}

.logo_card .details .details_wrapper .type {
  font-size: 14px;
  padding: 0px 12px;
  background: #fff0ed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 28px;
  border-radius: 2px;
}

.logo_card .details .details_wrapper .project_details {
  font-weight: 400;
  width: 358px;
  font-size: 18px;
  line-height: 28px;
}

.logo_card .details .details_wrapper .readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: auto 0;
  font-weight: 500;
}

.logo_card .shadow {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.type_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.aboutme {
  background: black;
  margin-top: 140px;
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutme .aboutme-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

.aboutme .aboutme-wrapper .aboutme-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  overflow: hidden;
}

.aboutme .aboutme-wrapper .aboutme-image img {
  border-radius: 4px;
}

.aboutme .aboutme-wrapper .aboutme-content {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme .aboutme-wrapper .aboutme-content .aboutme-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
}

.aboutme .aboutme-wrapper .aboutme-content .aboutme-title .name {
  font-weight: 900;
  font-size: 28px;
  line-height: 46px;
}

.aboutme .aboutme-wrapper .aboutme-content .aboutme-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.connect-section {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-section .connect-wrapper {
  margin: auto;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 60px;
}

.connect-section .connect-wrapper .connect-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
}

.connect-section .connect-wrapper .connect_button_wrappper .connect_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-section .connect-wrapper .connect_button_wrappper .connect_button_wrapper .connect {
  padding: 0px 16px 0px 30px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #ababab;
  background: none;
  border-radius: 78px 0px 0px 78px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.connect-section .connect-wrapper .connect_button_wrappper .connect_button_wrapper .connect:focus-visible {
  padding: 0px 16px 0px 30px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #d30101;
  border-radius: 78px 0px 0px 78px;
}

.connect-section .connect-wrapper .connect_button_wrappper .connect_button_wrapper .connect_btn {
  background: #070707;
  border-radius: 0px 78px 78px 0px;
  padding: 10px 38px;
  color: white;
  font-size: 16px;
  border-style: solid;
  border-color: #000000;
}

.connect-section .connect-wrapper .connect_button_wrappper .connect_copy {
  font-size: 14px;
  font-weight: 500;
  color: #353535;
  margin-top: 16px;
}

.connect-section .connect-wrapper .connect-link-wrapper {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 0rem;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
}

.connect-section .connect-wrapper .connect-link-wrapper .divider-line {
  margin-top: -2px;
  margin-bottom: -2px;
  border-bottom: 1px solid rgba(30, 21, 21, 0.2);
}

.connect-section .connect-wrapper .connect-link-wrapper .email-divider {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  margin-bottom: 50px;
}

.connect-section .connect-wrapper .connect-link-wrapper .linkedin-divider {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.connect-section .connect-wrapper .connect-link-wrapper .instagram-divider {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  text-decoration: none;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-social:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-social:hover .arrow {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-social .social-name-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-social .social-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  text-align: left;
  margin-right: 24px;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-email {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-email:hover .arrow {
  -webkit-transform: scale(1.2ddd);
          transform: scale(1.2ddd);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-email .arrow {
  width: 22px;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-linkedin {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-instagram {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-medium {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.connect-section .connect-wrapper .connect-link-wrapper .connect-behance {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}
/*# sourceMappingURL=main.css.map */